Repository splashhh-cc/splashhh-stable-diffusion-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mauwii, @lstein, @blessedcoolant, @ebr, @psychedelicious, @keturn, @damian0815, @Kyle0654, @jpphoto

.github/CODEOWNERS:

# continuous integration
/.github/workflows/ @mauwii @lstein @blessedcoolant

# documentation
/docs/ @lstein @mauwii @blessedcoolant
mkdocs.yml @mauwii @lstein

# installation and configuration
/pyproject.toml @mauwii @lstein @ebr
/docker/ @mauwii
/scripts/ @ebr @lstein @blessedcoolant
/installer/ @ebr @lstein 
ldm/invoke/config @lstein @ebr
invokeai/assets @lstein @blessedcoolant
invokeai/configs @lstein @ebr  @blessedcoolant
/ldm/invoke/_version.py @lstein @blessedcoolant

# web ui
/invokeai/frontend @blessedcoolant @psychedelicious
/invokeai/backend @blessedcoolant @psychedelicious

# generation and model management
/ldm/*.py @lstein @blessedcoolant
/ldm/generate.py @lstein @keturn
/ldm/invoke/args.py @lstein @blessedcoolant
/ldm/invoke/ckpt* @lstein @blessedcoolant
/ldm/invoke/ckpt_generator @lstein @blessedcoolant
/ldm/invoke/CLI.py @lstein @blessedcoolant
/ldm/invoke/config @lstein @ebr @mauwii @blessedcoolant
/ldm/invoke/generator @keturn @damian0815
/ldm/invoke/globals.py @lstein @blessedcoolant 
/ldm/invoke/merge_diffusers.py @lstein @blessedcoolant
/ldm/invoke/model_manager.py @lstein @blessedcoolant
/ldm/invoke/txt2mask.py @lstein @blessedcoolant
/ldm/invoke/patchmatch.py @Kyle0654 @lstein
/ldm/invoke/restoration @lstein @blessedcoolant

# attention, textual inversion, model configuration
/ldm/models @damian0815 @keturn @blessedcoolant
/ldm/modules/textual_inversion_manager.py @lstein @blessedcoolant
/ldm/modules/attention.py @damian0815 @keturn
/ldm/modules/diffusionmodules @damian0815 @keturn
/ldm/modules/distributions @damian0815 @keturn
/ldm/modules/ema.py  @damian0815 @keturn
/ldm/modules/embedding_manager.py @lstein
/ldm/modules/encoders @damian0815 @keturn
/ldm/modules/image_degradation @damian0815 @keturn
/ldm/modules/losses  @damian0815 @keturn
/ldm/modules/x_transformer.py @damian0815 @keturn

# Nodes
apps/ @Kyle0654 @jpphoto

# legacy REST API
# these are dead code
#/ldm/invoke/pngwriter.py @CapableWeb
#/ldm/invoke/server_legacy.py @CapableWeb
#/scripts/legacy_api.py @CapableWeb
#/tests/legacy_tests.sh @CapableWeb

added Toggle Advanced Mode button
  invokeai/frontend/src/features/gallery/components/CurrentImageButtons.tsx
  invokeai/frontend/src/features/parameters/store/generationSlice.ts
  invokeai/frontend/src/features/system/store/systemSelectors.ts
  invokeai/frontend/src/features/system/store/systemSlice.ts
  invokeai/frontend/src/features/ui/components/ImageToImage/ImageToImagePanel.tsx
  invokeai/frontend/src/features/ui/components/InvokeParametersPanel.tsx
  invokeai/frontend/src/features/ui/components/TextToImage/TextToImagePanel.tsx
Owners: @blessedcoolant, @psychedelicious

added torch.cuda.synchronize()
  invokeai/backend/invoke_ai_web_server.py
  ldm/generate.py
  ldm/invoke/ckpt_generator/txt2img.py
  ldm/invoke/ckpt_generator/txt2img2img.py
  ldm/invoke/generator/diffusers_pipeline.py
  ldm/invoke/model_manager.py
  ldm/invoke/restoration/codeformer.py
  ldm/invoke/restoration/gfpgan.py
  ldm/invoke/restoration/realesrgan.py
  ldm/modules/diffusionmodules/model.py
Owners: @blessedcoolant, @psychedelicious, @lstein, @keturn, @damian0815

updated concurrent_gen to 1
  invokeai/backend/invoke_ai_web_server.py
Owners: @blessedcoolant, @psychedelicious

updated Semaphore usage
  invokeai/backend/invoke_ai_web_server.py
Owners: @blessedcoolant, @psychedelicious

updated semaphore handling
  invokeai/backend/invoke_ai_web_server.py
Owners: @blessedcoolant, @psychedelicious

Update README.md
  README.md
Owners: none

Deployed 231eef21 with MkDocs version: 1.4.2
  sitemap.xml
  sitemap.xml.gz
Owners: none
